services:
  minecraft-server:
    image: itzg/minecraft-server
    pull_policy: daily
    tty: true
    stdin_open: true

    ports:
      - "25565:25565"
      - "24454:24454/udp"

    env_file:
      - .env
      
    environment:
      EULA: "TRUE"
      TYPE: "FABRIC" 
      VERSION: "1.21.1"
      MEMORY: "${MEMORY-2G}"          
      MOTD: "Bem vindo ao KochMine!"
      DIFFICULTY: "normal"
      ONLINE_MODE: "FALSE"
      SERVER_NAME: "KochMine"
      MAX_PLAYERS: "${MAX_PLAYERS-3}"
      FORCE_GAMEMODE: "TRUE"
      SNOOPER_ENABLED: "FALSE"
      ENABLE_STATUS: "TRUE"

    volumes:
      - ./minecraft-data:/data

    restart: unless-stopped